body{
    display:flex;
    align-items: center;
    flex-direction: column;
	font-family: Helvetica;
    background-color:white;
    width:100%;
  	/*height:100vh;/*hauteur page*/
    margin:0;
}
/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    width:100% ;
    background-image: url(arbre.jpg);
}
.titre{/*pb*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    line-height: 10px;
}
/*lou bizet + titre de chaque section*/
h2{
    font-size: 35px;
    color: white;
    text-shadow: 4px 4px 3px black;
    text-align: center;
    
}
.imageUser{/*profil*/
    margin:40px;
    width:250px; 
    height:250px;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:150px;
}
/*NAVBAR*/
.nav1
{
    display: flex;
    width: 1000px;
    display: table;
    margin-top: 100px;
    transform: translateY(-50%);
    margin-bottom: 0px;
}
.nav1 a
{
    display: flex;
    width: 200px;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 5px;
    transition: 0.5s ease color;
}

#indicator
{
    position: absolute;
    left: 5%;
    bottom: -10px;
    width: 130px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: black;
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg,green, white);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 22%;
    background: linear-gradient(130deg, green, white);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 43%;
    background: linear-gradient(130deg, green, white);
}
nav a:nth-child(4):hover ~ #indicator
{
    left: 62%;
    background: linear-gradient(130deg, green, white);
}
nav a:nth-child(5):hover ~ #indicator
{
    left: 81%;
    background: linear-gradient(130deg, green, white);
}
/*BLOCK1*/
/*contact + profil manager*/
.h3T{
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 3px black;
}
h3{
    font-size: 30px;
    color: black;
}
li{
    list-style :none;
}
.social {
    display: flex;
    justify-content:center;
    margin: 10px auto 0px auto;
    width:200px;
    height: 70px;
}
.social img{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right:20px;
}
h4{
    color: black;
}
h5{
    color: white;
}
/*CONTAINER 1*/
.container1{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 350px;
    margin-bottom:0px;
    margin-top:130px;
    box-shadow: 0px 0px 10px #bbb;
}

/*CONTAINER 2*/
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    height: 4100px;
    margin-bottom:30px;
    margin-top:130px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right:solid 3px black;
    padding-left: auto;
    padding-right: auto;
    width:100%;
    line-height: 30px;
}
.contactt{
    margin:0px;
}
.sociall{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;
}
.b{
    list-style: circle;
    margin: 0px;
}
.icone{
    padding-right: 10px;
}
/*Profil*/
.block2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
}
.imageB2{
    position: relative;
    margin-right: 20px;
}
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 0;
    line-height: 5px;
}

/*SECTIONS*/
.sectionC{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin-top:0px;
    margin-bottom :50px;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}


.sectionC h2{
    margin: 20px 0;
    width: 90%;
}
.sectionC > div{
    width: 90%;
}
/*SECTION COMPETENCES*/
.h3comp{
    width: 90%;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 60%;
    height:50%;
    border-radius: 20px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    display: block;
    height: 100%;
    border-radius: 20px;
}
.b1{
    width: 85%;
    background-color: forestgreen;
}
.b2{
    width: 90%;
    background-color: forestgreen;
}
.b3{
    width: 95%;
    background-color: forestgreen;
}
.b4{
    width: 100%;
    background-color: forestgreen;
    border-radius: 100px;
}
.b5{
    width: 65%;
    background-color: forestgreen;
    border-radius: 100px;
}
.b6{
    width: 65%;
    background-color: forestgreen;
    border-radius: 100px;
}
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 15px #555;
}
.int{
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
}